<table class="table table-dark">
  <thead>
    <tr class="header">
      <th scope="col">#CODE</th>
      <th scope="col">NAME</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">HEAD</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row" *ngFor="let department of departments">
      <td>{{ department.code }}</td>
      <td>{{ department.name }}</td>
      <td>{{ department.description }}</td>
      <td>{{ department.head }}</td>
      <td>
        <button
          [routerLink]="['/edit-detail', department.id]"
          class="btn btn-default mr-1"
        >
          Edit
        </button>
        <button
          class="btn btn-danger ml-1"
          (click)="removeItem(department.id, department.name)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center m-5">
  <button
    type="button"
    routerLink="/new-department"
    class="btn btn-primary btn-lg"
  >
    Create New
  </button>
</div>
